@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("./modules/reset.css");
@import url("./modules/variables.css");
@import url("./modules/components.css");
@import url("./modules/pages.css");
@import url("https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css");

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  font-family: Poppins, sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
}

h1 {
  font-size: var(--font-4);
  font-weight: 600;
}

h2 {
  font-size: var(--font-3);
  font-weight: 600;
}

h3 {
  font-size: var(--font-2);
  font-weight: 500;
}

h4 {
  font-size: var(--font-1);
  font-weight: 400;
}

p,
a {
  font-size: var(--font-0);
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: min(100%, 1440px);
  margin: 0 auto;
  padding: 0 var(--space-s-l);
}

body:not([id]) section:not(:first-child) {
  padding-block: calc(48px + var(--space-xs));
}
