/* stylelint-disable selector-id-pattern */
/* stylelint-disable no-descending-specificity */

/* HEADER */
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 48px;
  background: var(--color-primary);
  box-shadow: 0 2px 8px -3px var(--color-shadow);
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  .menubar {
    display: none;
  }

  .logo {
    display: flex;
    gap: var(--space-s);
    align-items: center;
    font-size: var(--font-2);
    user-select: none;

    img {
      max-height: var(--font-3);
    }
  }

  .theme-switch .text {
    display: none;
  }
}

#navbar {
  display: flex;
  gap: var(--space-l);

  a {
    position: relative;
    font-weight: 400;

    &:hover {
      color: var(--color-accent);
    }
  }
}

#navbar a::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 8%;
  content: "";
  background: var(--color-text);
  border-radius: 30px;
  transition: width 300ms ease-in-out;
}

#navbar a:hover::before {
  width: 100%;
  background: var(--color-accent);
}

#navbar a.active::before {
  width: 100%;
}

/* OVERLAY */
#overlay {
  position: fixed;
  inset: 0;
  z-index: -1;
  visibility: hidden;
  background: rgb(0 0 0 / 30%);
  opacity: 0;
  backdrop-filter: blur(2px);
  transition: all 750ms ease-in-out;
}

#overlay.menu-overlay {
  inset: 48px 0 0;
}

@media (width <= 1024px) {
  header .container {
    gap: var(--space-l);
    justify-content: flex-start;

    .menubar {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      ion-icon {
        padding: 5px;
        font-size: var(--font-2);
        border-radius: 50%;

        &:hover {
          background: var(--color-hover);
        }
      }
    }

    .theme-switch {
      display: flex;
      align-items: center;

      .text {
        display: block;
      }

      .switch {
        margin-left: auto;
      }
    }
  }

  #navbar {
    position: absolute;
    top: 100%;
    left: -50dvw;
    flex-direction: column;
    gap: 0;
    width: 50dvw;
    height: calc(100dvh - 48px);
    padding: var(--space-m);
    background: var(--color-primary);
    transition: left 750ms ease-in-out;

    a {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.65em;
      margin: var(--space-xs) 0;
      color: var(--color-text);
      border-radius: var(--space-s);
    }

    .theme-switch {
      padding-top: var(--space-xs);
      margin-top: auto;
      border-top: 2px solid var(--color-hover);

      .text {
        user-select: none;
      }
    }
  }

  #navbar a::before {
    height: 100%;
  }

  #navbar a.active {
    color: var(--color-text-inverse);
  }

  #navbar a.active:hover {
    color: var(--color-text);
  }

  #navbar a.active::before {
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  #navbar a:hover {
    color: var(--color-text-inverse);
  }

  #navbar a:hover::before {
    z-index: -1;
    width: 100%;
  }

  #navbar.open {
    left: 0;
  }

  #navbar.open ~ #overlay.menu-overlay {
    visibility: visible;
    opacity: 1;
  }
}

/* SIDEBAR */
#sidebar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  width: 73px;
  height: 100dvh;
  padding: 0.75rem;
  overflow: hidden;
  background: var(--color-primary);
  transition: width 500ms ease-in-out;
}

#sidebar.open {
  width: 300px;
}

#sidebar .sidebar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  font-size: var(--font-0);
}

.sidebar-wrapper .navigations {
  margin-top: var(--space-l);
}

.sidebar-wrapper .settings {
  margin-top: auto;
  border-top: 2px solid var(--color-hover);
}

#sidebar .dropdown-btn,
#sidebar .theme-toggler,
#sidebar .logo li,
#sidebar a,
#sidebar .admin-page a {
  display: flex;
  gap: var(--space-m);
  align-items: center;
  padding: 0.65em;
  border-radius: var(--space-s);
}

#sidebar .admin-page {
  white-space: nowrap;
}

#sidebar .dropdown-btn,
#sidebar a {
  cursor: pointer;

  &:hover {
    background: var(--color-hover);
  }
}

#sidebar .sidebar-wrapper ul.logo {
  padding-bottom: 0.65em;
  border-bottom: 2px solid var(--color-hover);

  li {
    display: flex;
    gap: 0;
    justify-content: flex-end;
    padding: 0;
    overflow: hidden;

    .icon:first-child {
      max-width: calc(1.25rem + 2 * 0.65em);
    }

    .text {
      padding: 0.65em;
      white-space: nowrap;
      user-select: none;
    }

    .icon:last-child {
      padding: 0.65em;
      cursor: pointer;
      border-radius: 50%;

      &:hover {
        background: var(--color-hover);
      }
    }
  }
}

.sidebar-wrapper .icon {
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 300ms ease-in-out;
}

.sidebar-wrapper .text {
  flex-grow: 1;
}

.sidebar-wrapper .icon:first-child {
  margin-inline: 3.3px;
}

.sidebar-wrapper .sub-menu {
  display: grid;
  grid-template-rows: 0fr;
  transition: 300ms ease-in-out;

  > div {
    overflow: hidden;
  }
}

.sidebar-wrapper .sub-menu.show {
  grid-template-rows: 1fr;
}

.sidebar-wrapper .sub-menu a {
  margin-inline: var(--space-xs);
}

.rotate .icon:last-child {
  rotate: 180deg;
}

#navPlaceholder {
  max-height: 200px;

  > div {
    overflow-y: scroll;
  }

  li a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

#navPlaceholder a.active {
  color: var(--color-accent);
}

.theme-toggler .text {
  text-wrap: nowrap;
  white-space: nowrap;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 3.5dvh;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  inset: 0;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 34px;
  transition: background-color 0.4s;
}

.slider::before {
  position: absolute;
  top: 50%;
  left: 5%;
  width: 35%;
  height: auto;
  aspect-ratio: 1/1;
  content: "";
  background-color: var(--color-bg);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: all 0.4s;
}

input:checked + .slider {
  background-color: var(--color-accent);
}

input:checked + .slider::before {
  left: 96%;
  transform: translate(-100%, -50%);
}

@media (width <= 480px) {
  .switch {
    width: 50px;
    height: 28px;
  }
}

@media (width <= 1024px) {
  #sidebar {
    position: fixed;
    top: 48px;
    left: -60dvw;
    width: 60dvw;
    height: calc(100dvh - 48px);
    transition: left 500ms ease-in-out;
  }

  #sidebar.open {
    left: 0;
    width: 60dvw;
  }

  #sidebar.open ~ #overlay.sidebar-overlay {
    z-index: 19;
    visibility: visible;
    opacity: 1;
  }

  .sidebar-wrapper ul.logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    padding: 0.65em var(--space-s-l);
    background: var(--color-primary);

    li {
      justify-content: flex-start;

      .icon:first-child {
        order: 2;
      }

      .text {
        order: 3;
      }
    }
  }
}

/* FOOTER */
footer {
  background: var(--color-primary);
}

footer .container {
  display: grid;
  grid-template-areas:
    "logo nav links"
    "logo nav links"
    "copy copy copy";
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3rem;
  place-items: start center;
  padding-block: var(--space-xs);

  .footer-logo {
    grid-area: logo;

    .logo {
      margin-block-end: var(--space-xs);
      font-size: var(--font-1);
      font-weight: 500;
    }
  }

  .footer-nav {
    grid-area: nav;
  }

  .footer-links {
    grid-area: links;
  }

  .footer-copyright {
    grid-area: copy;
    text-align: center;
  }

  a {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    width: fit-content;
    margin-block: var(--space-xs);

    &:hover {
      color: var(--color-accent);
    }
  }
}

@media (width <= 1024px) {
  footer .container {
    grid-template-areas:
      "logo"
      "nav"
      "links"
      "copy";
    grid-template-columns: 1fr;
    gap: 1rem;
    place-items: start;

    .footer-copyright {
      place-self: center;
    }
  }
}

/* QUILL HANDLER */
form .ql-toolbar.ql-snow {
  padding: 0;
  margin-block: var(--space-xs);
  font-family: inherit;
  color: var(--color-text);
  border: none;
  border-bottom: 1px solid var(--color-surface-hover);
}

form .ql-container.ql-snow {
  min-height: calc(9 * calc(1em + 0.5rem));
  padding: var(--space-xs);
  background: var(--color-hover);
  border: none;
  border-radius: var(--space-xs);

  .ql-editor {
    padding: 0;
  }
}

/* MODAL HANDLER */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 21;
  visibility: hidden;
  width: min(90%, 900px);
  height: auto;
  color: var(--color-text);
  background: var(--color-primary);
  border-radius: var(--space-s);
  opacity: 0;
  translate: -50% -50%;
  transition: all 500ms ease-in-out;

  .modal-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    padding: var(--space-s);
  }
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

#form-message button {
  width: fit-content;
  padding: var(--space-xs);
  color: var(--color-text-inverse);
  cursor: pointer;
  background: var(--color-accent);
  border-radius: var(--space-xs);
}

.modal.open ~ #overlay {
  z-index: 20;
  visibility: visible;
  opacity: 1;
}

/* MESSAGE HANDLER */
#message {
  position: fixed;
  bottom: var(--space-l);
  left: 50%;
  visibility: hidden;
  padding: var(--space-xs);
  color: #fafafa;
  border-radius: var(--space-xs);
  opacity: 0;
  transform: translateX(-50%);
  transition:
    opacity 1500ms ease-in-out,
    visibility 1500ms ease-in-out;
}

#message.success {
  background: #4caf50;
}

#message.error {
  background: #f44336;
}

#message.show {
  visibility: visible;
  opacity: 1;
}

/* EDITOR HANDLER */
.editor-container {
  margin-block: var(--space-m);

  form {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);

    .input-group {
      display: flex;
      flex-direction: column;
      gap: var(--space-xs);

      input {
        padding: var(--space-xs);
        color: var(--color-text);
        background: var(--color-hover);
        border-radius: var(--space-xs);
      }
    }

    .form-button {
      display: flex;
      gap: var(--space-m);

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--space-xs);
        color: var(--color-text);
        cursor: pointer;
        background: var(--color-hover);
        border-radius: var(--space-xs);
      }

      button:last-child {
        color: var(--color-text-inverse);
        background: var(--color-accent);
      }
    }
  }
}
