/* stylelint-disable selector-class-pattern */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable no-descending-specificity */

/* HERO SECTION */
section#hero {
  max-width: 100dvw;
  min-height: 100dvh;
  overflow: hidden;
}

section#hero .container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 100%;
  height: 100%;
  min-height: 100dvh;
  padding: 0;
  color: #fafafa;
  text-align: center;
  background: url("../../assets/img/BANNER1.jpeg") center / cover no-repeat
    fixed;

  &::before {
    position: absolute;
    inset: 0;
    z-index: 0;
    content: "";
    background: rgb(0 0 0 / 30%);
    backdrop-filter: blur(var(--backdrop-blur-radius));
  }

  * {
    margin-block: 3px;
  }

  h1 {
    text-transform: uppercase;
    text-shadow: 3px 5px 8px rgb(255 255 255 / 30%);

    span {
      color: var(--color-accent);
    }
  }

  .typewriter-text {
    position: relative;
    min-height: calc(1em + 0.5rem);

    &::after {
      position: absolute;
      width: 3px;
      height: 100%;
      content: "";
      background: #fff;
      border-radius: 20px;
      animation: blink 1.5s ease-in-out infinite;
    }
  }

  a {
    display: inline-block;
    font-size: var(--font-3);
    animation: bounce 3s ease-in-out infinite;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

@keyframes blink {
  0%,
  100% {
    clip-path: inset(50% 0 50% 0);
  }

  50% {
    clip-path: inset(0% 0 0% 0);
  }
}

/* ABOUT SECTION */
section#about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding-block: var(--space-l);
  overflow: hidden;
}

.social-icons {
  display: flex;
  gap: var(--space-l);
  margin-block: var(--space-s);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);
    font-size: var(--font-2);
    background: var(--color-surface);
    border: 3px solid var(--color-surface);
    border-radius: 50%;
    transition: all 500ms ease-in-out;

    &:hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }
}

.about-img {
  position: relative;
  place-self: end;
  width: 100%;
  max-width: 29dvw;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: var(--color-bg);
    border-radius: 50%;
  }
}

.about-img::before,
.about-img::after {
  position: absolute;
  inset: -3px;
  z-index: 0;
  content: "";
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--color-accent)
  );
  border-radius: inherit;
  animation: spin 3s ease-in-out infinite;
}

.about-img::after {
  filter: blur(15px);
}

@keyframes spin {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

@media (width <= 1024px) {
  section#about .container {
    grid-template-columns: 1fr;
    gap: var(--space-l);

    .about-text {
      order: 2;
    }

    .about-img {
      place-self: center;
      order: 1;
      max-width: 80dvw;
    }
  }
}

/* SKILL SECTION */
.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-m);
  margin-block: var(--space-l);
}

.skill-item {
  padding: var(--space-xs);
  border-radius: var(--space-s);
  transition: all 500ms ease-in-out;

  .skill-icon {
    display: flex;
    justify-content: center;

    ion-icon {
      width: 100%;
      max-width: 30%;
      height: auto;
      aspect-ratio: 1/1;
      padding: var(--space-s);
      margin: auto;
      margin-block: var(--space-s);
      background: linear-gradient(
        270deg,
        var(--color-hover) 0%,
        var(--color-surface) 100%
      );
      border-radius: 50%;
    }
  }

  .skill-desc {
    text-align: center;
  }

  &:hover {
    box-shadow: 0 0 15px -3px var(--color-shadow);
  }
}

/* SECTION EDUCATION & EXPERIENCE */
#education,
#experiences {
  position: relative;
  margin: 0 auto;
  color: var(--color-text);
}

#education .container,
#experiences .container {
  position: relative;
  z-index: 0;
  margin: 0 auto;
}

#education .container h2,
#experiences .container h2 {
  text-align: center;
}

.edu-container,
.expe-container {
  position: relative;
  margin: 0 auto;
}

.timeline-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.timeline-progress {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 3px;
  height: 100%;
  background: var(--color-text);
  border-radius: 100px;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 150px 1fr;
  grid-auto-columns: 1fr;
  grid-gap: 0;
  padding: 80px 0;
}

.timeline-item p.tagline {
  font-style: italic;
  font-weight: 500;
}

.timeline-left {
  align-items: stretch;
  justify-content: center;
  text-align: center;
}

.timeline-date {
  position: sticky;
  top: 50%;
  transform: translateY(-50%);
}

.timeline-center {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.timeline-circle {
  position: sticky;
  top: 50%;
  width: 100%;
  max-width: 50px;
  height: auto;
  max-height: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transform: translateY(-50%);
}

.timeline-circle.edu.ut {
  background: var(--color-bg);
}

.timeline-circle.expe img {
  border: 2px solid var(--color-text);
  border-radius: 50%;
}

@media (width <= 1024px) {
  #education .container h2,
  #experiences .container h2 {
    text-align: left;
  }

  .timeline-progress {
    left: 0;
  }

  .timeline-circle {
    top: 50%;
    left: 0;
    max-width: 5dvw;
    max-height: 5dvw;
    transform: translate(-50%, -50%);
  }

  .timeline-item {
    grid-template-columns: 10% 1fr;
    width: 100%;
  }

  .timeline-left {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
  }

  .timeline-center {
    grid-area: 1 / 1 / 3 / 2;
    justify-content: flex-start;
  }

  .timeline-right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

/* SECTION PROJECT */
section#project .cta {
  margin: var(--space-s) 0;

  a {
    padding: var(--space-xs);
    color: var(--color-text-inverse);
    background: var(--color-accent);
    border-radius: var(--space-xs);
    transition: 300ms ease-in-out;

    &:hover {
      color: var(--color-text);
      background: var(--color-hover);
      box-shadow: 0 0 6px -1px var(--color-shadow);
    }

    &:active {
      box-shadow: none;
    }
  }
}

section#project .swiper {
  position: relative;

  .carousel-wrapper {
    position: relative;
    padding: var(--space-xs);
    margin: var(--space-l) var(--space-m);
    overflow: hidden;
  }
}

.swiper::before,
.swiper::after {
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 5px;
  height: calc(100% - 2 * var(--space-l));
  pointer-events: none;
  content: "";
  translate: 0 -50%;
}

.swiper::before {
  left: var(--space-m);
  background: linear-gradient(to right, var(--color-bg), transparent);
}

.swiper::after {
  right: var(--space-m);
  background: linear-gradient(to left, var(--color-bg), transparent);
}

.swiper-slide {
  position: relative;
  aspect-ratio: 16/9;
  cursor: pointer;
  user-select: none;
  border-radius: var(--space-s);

  .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: scale 1s ease-in-out;
    }
  }

  h4 {
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 100%;
    padding: 0 var(--space-xs);
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%);
    transition: all 500ms ease-in-out;
  }

  &::before {
    position: absolute;
    inset: 0;
    visibility: hidden;
    content: "";
    background: rgb(0 0 0 / 30%);
    border-radius: inherit;
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: all 500ms ease-in-out;
  }
}

.swiper-slide:hover {
  img {
    scale: 1.05;
  }

  h4 {
    z-index: 2;
    visibility: visible;
    opacity: 1;
  }

  &::before {
    z-index: 1;
    visibility: visible;
    opacity: 1;
  }
}

/* CONTACT SECTION */
section#contact .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-m);
  place-items: center;

  .contact-text {
    place-self: start;

    p {
      margin-block: var(--space-l);
    }
  }
}

section#contact form {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
  width: 100%;

  .input-group {
    position: relative;

    label {
      position: absolute;
      top: var(--space-xs);
      left: var(--space-xs);
      pointer-events: fill;
      transition: 300ms ease-in-out;
    }
  }

  input,
  textarea {
    width: 100%;
    padding: var(--space-xs);
    color: inherit;
    resize: none;
    background: transparent;
    border-bottom: 2px solid var(--color-hover);
  }

  .input-group input:focus,
  .input-group textarea:focus {
    font: inherit;
    color: inherit;
  }

  .input-group input:focus ~ label,
  .input-group input:not(:placeholder-shown) ~ label,
  .input-group textarea:focus ~ label,
  .input-group textarea:not(:placeholder-shown) ~ label {
    top: -1rem;
  }

  button {
    display: flex;
    gap: var(--space-l);
    align-items: center;
    justify-content: center;
    padding: var(--space-xs);
    color: var(--color-text-inverse);
    cursor: pointer;
    background: var(--color-accent);
    border-radius: var(--space-s);
    transition: all 300ms ease-in-out;

    &:hover {
      color: var(--color-text);
      background: var(--color-hover);
      box-shadow: 0 0 6px -1px var(--color-shadow);
    }

    &:active {
      box-shadow: 0 0 6px -1px var(--color-shadow) inset;
    }
  }
}

@media (width <= 1024px) {
  section#contact .container {
    grid-template-columns: 1fr;
  }
}

/* PROJECT LIST */
body#list-page,
body#detail-page,
body#new-project,
body#edit-project {
  display: grid;
  grid-template-columns: auto 1fr;
}

section#project-list {
  min-height: 100dvh;
  padding-top: calc(48px + var(--space-m));
}

#project-list .container {
  position: relative;

  #addProjectBtn {
    position: absolute;
    top: 0;
    right: var(--space-s-l);
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    padding: var(--space-xs);
    font-size: var(--font-0);
    color: var(--color-text-inverse);
    cursor: pointer;
    background: var(--color-accent);
    border-radius: var(--space-s);
  }
}

.project-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-xs);
  margin-block: var(--space-m);
}

.project-item {
  position: relative;
  aspect-ratio: 16/9;
  cursor: pointer;
  border-radius: var(--space-s);
  box-shadow: 0 0 6px -2px var(--color-shadow);

  .img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: inherit;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: scale 1s ease-in-out;
    }
  }

  .project-title {
    position: absolute;
    top: 50%;
    z-index: 2;
    visibility: hidden;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translateY(-50%);
    transition: 500ms ease-in-out;
  }

  &::before {
    position: absolute;
    inset: 0;
    z-index: 1;
    visibility: hidden;
    content: "";
    background: rgb(0 0 0 / 30%);
    border-radius: inherit;
    opacity: 0;
    backdrop-filter: blur(2px);
    transition: 500ms ease-in-out;
  }
}

.project-item:hover {
  .img-wrapper img {
    scale: 1.1;
  }

  .project-title {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    visibility: visible;
    opacity: 1;
  }
}

/* PROJECT DETAIL */
section#project-detail {
  min-height: 100dvh;
  overflow-x: hidden;

  .banner-wrapper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 80dvh;
    transform-origin: center center;
    scale: 1;
    will-change: transform;

    .project-title {
      position: absolute;
      top: 50%;
      z-index: 2;
      width: 100%;
      min-width: 100%;
      padding: 0 var(--space-s-l);
      color: #fafafa;
      text-align: center;
      text-shadow: 0 0 4px var(--color-accent);
      transform: translateY(-50%) scale(1);
      transform-origin: center center;
    }

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;
      content: "";
      background: rgb(0 0 0 / 60%);
      backdrop-filter: blur(var(--backdrop-blur-radius));
      will-change: backdrop-filter;
    }
  }

  .container {
    position: relative;
    z-index: 3;
    max-width: 100%;
    padding: var(--space-s) var(--space-s-xl);
    background: var(--color-bg);

    .project-desc {
      ol li {
        margin-left: var(--space-m);
        font-size: var(--font-0);
        font-weight: 300;
        list-style-type: disc;
      }

      a {
        color: var(--color-accent);
        word-wrap: break-word;
        overflow-wrap: break-word;
        text-decoration: underline;
      }
    }
  }
}

/* ADMIN PANEL */
#admin-panel {
  display: grid;
  grid-template-columns: auto 1fr;
}

section#admin-page {
  max-width: 100dvw;
  min-height: 100dvh;
  padding-top: calc(48px + var(--space-l));

  .container {
    position: relative;
    max-width: 100%;

    .login-handler {
      position: absolute;
      top: 0;
      right: var(--space-s-l);
      display: flex;
      gap: var(--space-s);

      button {
        gap: var(--space-xs);
        align-items: center;
        justify-content: center;
        padding: var(--space-xs);
        color: var(--color-text-inverse);
        cursor: pointer;
        background: var(--color-accent);
        border-radius: var(--space-xs);
      }
    }

    .logged-in {
      margin-block: var(--space-m);

      #addItem {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        gap: var(--space-xs);
        align-items: center;
        padding: var(--space-xs);
        color: var(--color-text-inverse);
        cursor: pointer;
        user-select: none;
        background: var(--color-accent);
        border-radius: var(--space-xs);
      }

      table {
        width: 100%;
        margin: var(--space-m) 0;
        overflow-x: scroll;
        border-collapse: collapse;

        caption {
          position: relative;
          margin-block: var(--space-s);
          text-align: left;
        }

        thead {
          position: sticky;
          top: 0;
          left: 0;
          background: var(--color-primary);

          th {
            padding: var(--space-xs);
          }
        }

        tbody tr:nth-child(even) {
          background-color: var(--color-hover);
        }

        tbody tr:hover .project_title {
          color: var(--color-accent);
          text-decoration: underline;
        }

        tbody tr td {
          padding: var(--space-xs);
        }

        tbody tr td.action_button {
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            margin-inline: 5px;

            ion-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              padding: var(--space-xs);
              color: var(--color-text-inverse);
              cursor: pointer;
              border-radius: var(--space-xs);
            }
          }

          span.edit-btn ion-icon {
            background: var(--color-accent);
          }

          span.delete-btn ion-icon {
            background: rgb(208 21 21);
          }
        }
      }
    }
  }
}

.admin-section {
  display: flex;
  gap: var(--space-s);

  button {
    padding: var(--space-xs);
    color: var(--color-text-inverse);
    cursor: pointer;
    background: var(--color-accent);
    border-radius: var(--space-xs);
  }
}

/* NEW PROJECT PAGE */
section#new-post,
section#edit-post {
  min-height: 100dvh;
  padding-top: calc(48px + var(--space-m));
}
